#banner-container {
    display: flex;
    gap: 2.5vw;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75vh;
    margin: 5vh 0;
}

#header {
    font-size: 3.5rem;
    margin-left: 5vw;
    max-width: 800px;
}

iframe {
    flex-grow: 2;
    width: 200%;
    max-width: 1100px;
    height: 100%;
    margin-right: 5vw;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.certificationsDiv-container {
    margin: 120px 0;
}

.second-header {
    text-align: center;
    font-size: 2.5rem;
}

.certificationsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 0 auto;
    gap: 5%;
    justify-content: space-around;
}

.h3-certification {
    text-align: center;
    font-size: 1.5rem;
    margin: 25px 30px;
}

.img-certification {
    min-width: 250px;
    width: 17vw;
    max-width: 400px;
    min-height: 190px;
    height: 12.92vw;
    max-height: 304px;
    box-shadow: 0 0 13px rgba(0, 0, 0, .5);
}

.img-certification:hover {
    transform: scale(102%);
    transition: scale 300ms ease;
}

.img-certification:active {
    transform: scale(100%);
}

.testimonials-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    width: 33vw;
    min-width: 300px;
    margin: 0 auto;
}

.stars-header {
    display: inline;
    font-size: 1rem;
    margin: 0 12px;
}

.star {
    width: 16px;
    height: 16px;
}

.testimonials-content {
    text-align: center;
}

.testimonials-date {
    margin: 0;
    color: rgb(85, 85, 85);
}

/* phones */
@media screen and (max-width: 1100px){
    #banner-container {
        flex-wrap: wrap;
        text-align: center;
    }

    .header {
        font-size: 2rem;
    }

    .certificationsDiv-container {
        padding-top: 50px;
    }
    
    iframe {
        height: 60vh;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 330px){
    .certificationsDiv-container {
        padding-top: 110px;
    }
}

@media screen and (max-width: 600px){
    html {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 600px){
    html {
        font-size: 13px !important;
    }
}

@media screen and (min-width: 700px){
    html {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 950px){
    html {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 1050px){
    html {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 1450px){
    html {
        font-size: 16px !important;
    }
}
