@font-face {
    font-display: optional;
    font-family: "Montserrat-ExtraBold";
    src: url("/fonts/montserrat/Montserrat-ExtraBold.otf") 
        format("opentype");
}
@font-face {
    font-display: optional;
    font-family: "Montserrat-Bold";
    src: url("/fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}

:root {
    --blue-accent: rgb(0, 162, 197);
    --blue-accent-darker: rgb(0, 128, 156);
    /* --red-accent: #eb1111; */
    --grey: rgb(100, 100, 100);
    --green: #00E657;
    --yellow: #FF9E00;
    --red: #FF0D00;
    --common-width: 65vw;
    --group-iframe-height: 65vh;
    --common-border-radius: 10px;
    --contact-padding: 12px;
    --contact-border-radius: 5px;
    /* --section-top-bottom-margin: 170px; */
    --metrics-display: none;
    --loading-bar-and-label-opacity: 1;
    --ring-opacity: .4;
}

/* boilerplate code */
.highlight-blue {
    color: var(--blue-accent);
}
.highlight-blue-darker {
    color: var(--blue-accent-darker);
}
.highlight-red {
    color: var(--red-accent);
}
.flex-break {
    flex-basis: 100%;
}
.section-margin {
    margin: var(--section-top-bottom-margin) auto;
}
.underline {
    text-decoration: underline;
}
.line-break {
    border-top: 1px solid rgba(0, 0, 0, .5);
    width: 30vw;
    max-width: 500px;
    margin: 35px auto;
}

/* why you need a fast website */
.percent-quote {
    width: 65vw;
    max-width: 1000px;
    margin: 40px auto;
}

.percent-quote h3 {
    font-size: 38px;
    display: inline;
}
.percent-quote p {
    font-size: 18px;
    display: inline;
    margin: 4px;
}

/* phones */
@media screen and (max-width: 900px){
    .percent-quote h3 {
        font-size: 32.3px;
    }
    .percent-quote p {
        font-size: 15.3px;
    }
}

/* Test Your Website Performance */
.PageSpeed-API-Form {
    width: var(--common-width);
    margin: 40px auto;
}

#website-test-label{
    font-size: 1.2rem;
}

#url-test-input {
    min-width: 200px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, .3);
    font-family: 'Montserrat-Bold', Roboto, Arial;
}

#web-test-alert {
    font-size: 1.1rem;
}

.submit-form-button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--contact-border-radius);
    color: black;
    background-color: #00D0FF;
    padding: 11px;
    font-size: 1.3rem;
    font-family: 'Montserrat-Bold', Roboto, Arial;
    font-weight: 100;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

/* metrics */
.metrics-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    width: var(--common-width);
    margin: 70px auto;
}

.loading-bar-and-label {
    display: var(--metrics-display);
    opacity: var(--loading-bar-and-label-opacity);
    transition: opacity 1.5s;
    position: absolute;
    top: 60%;
    width: 50%;
    z-index: 10;
}

#testing-page-label {
    font-size: 1.25rem;
}

/* progress bar */
#progressbarWrapper {
    display: var(--metrics-display);
    height: 12px;
    width: 100%;
    top: 65%;
    background: var(--grey);
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

#greenBar {
    display: var(--metrics-display);
    height: 100%;
    width: 5px;
    background-color: #0DFFA6;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    color: white;
    transition: all 700ms ease;
    border-radius: 5px;
}

.ring {
    display: var(--metrics-display);
    opacity: var(--ring-opacity);
    transition: opacity 1.5s;
    position: relative;
    --pointerleft: 11%;
    --pointertop: 11%;
    --pointerdeg: -45deg;
    width: 150px;
    height: 150px;
    background-size: 11% 11%, 11% 11%, 100% 100%, 100% 100%;
    background-repeat: no-repeat;
    background-position: 9.2% 82.3%, 90.8% 82.3%, center center, center center;
    border-radius: 50%;
    border-style: none;
    margin-bottom: 40px;
}

.ring-green {
    background-image: radial-gradient(
        var(--green) 0, var(--green) 50%, transparent 50%, transparent 100%), 
        radial-gradient(var(--green) 0, var(--green) 50%, transparent 50%, transparent 100%), 
        radial-gradient(white 0, white 60%, transparent 60%), 
        conic-gradient(var(--green) 0, var(--green) 130deg, white 130deg, white 230deg, var(--green) 230deg, var(--green) 360deg);
}

.ring-yellow {
    background-image: radial-gradient(
        var(--yellow) 0, var(--yellow) 50%, transparent 50%, transparent 100%), 
        radial-gradient(var(--yellow) 0, var(--yellow) 50%, transparent 50%, transparent 100%), 
        radial-gradient(white 0, white 60%, transparent 60%), 
        conic-gradient(var(--yellow) 0, var(--yellow) 130deg, white 130deg, white 230deg, var(--yellow) 230deg, var(--yellow) 360deg);
}

.ring-red {
    background-image: radial-gradient(
        var(--red) 0, var(--red) 50%, transparent 50%, transparent 100%), 
        radial-gradient(var(--red) 0, var(--red) 50%, transparent 50%, transparent 100%), 
        radial-gradient(white 0, white 60%, transparent 60%), 
        conic-gradient(var(--red) 0, var(--red) 130deg, white 130deg, white 230deg, var(--red) 230deg, var(--red) 360deg);
}

.ring-grey {
    position: absolute;
    background-image: radial-gradient(
        var(--grey) 0, var(--grey) 50%, transparent 50%, transparent 100%), 
        radial-gradient(var(--grey) 0, var(--grey) 50%, transparent 50%, transparent 100%), 
        radial-gradient(white 0, white 60%, transparent 60%), 
        conic-gradient(var(--grey) 0, var(--grey) 130deg, white 130deg, white 230deg, var(--grey) 230deg, var(--grey) 360deg);
}

.web-test-labels {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: gray;
}

.web-test-number {
    font-size: 32px;
}

.web-test-acronym {
    font-size: 18px;
}

.web-test-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 93%;
    color: gray;
    font-size: 15px;
    margin: 0 auto;
}

.test-description {
    display: var(--metrics-display);
    width: var(--common-width);
    margin: 10px auto;
    font-size: 12px;
}

.score {
    color: gray;
}

/* packages */
.package-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2.5vw;
    width: 85vw;
    max-width: 1400px;
    margin: 0 auto;
}

.package {
    min-width: 250px;
    width: 25vw;
    max-width: 325px;
    min-height: 420px;
    padding-bottom: 15px;
    border-radius: var(--common-border-radius);
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .9);
}

.package-header {
    width: 100%;
    height: 23%;
    border-top-left-radius: var(--common-border-radius);
    border-top-right-radius: var(--common-border-radius);
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, .25);
}

.package-header h3 {
    font-size: 30px;
    flex-basis: 100%;
    margin: 0;
    padding-top: 6%;
}

.package-header p {
    margin: 0;
    padding: 0;
    padding: 8px;
}

.package-item {
    padding: 0 20px;
    text-align: center;
    color: white;
    font-size: 16px;
}

#package-description {
    width: 100%;
}

/* certifications */
.certificationsDiv-container {
    width: var(--common-width);
    margin: var(--section-top-bottom-margin) auto;
    padding: 0 !important;
}

.certificationsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 0 auto;
    gap: 7%;
    justify-content: space-around;
}

.h3-certification {
    text-align: center;
    font-size: 1.5rem;
}

.img-certification {
    width: 24.48vw;
    max-width: 276.61px;
    height: 18.6048vw;
    max-height: 210.22px;
    box-shadow: 0 0 13px rgba(0, 0, 0, .5);
}

.testimonials {
    margin: var(--section-top-bottom-margin) auto;
}

.testimonials-container {
    display: flex;
    width: var(--common-width);
    margin: 60px auto;
    gap: 40px;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.testimonials-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 425px;
    padding: 10px 20px;
}

.name-testimonial {
    font-size: 1.5rem;
}

.stars-header {
    display: inline;
    font-size: 1rem;
    margin: 0 12px;
}

.star {
    width: 16px;
    height: 16px;
}

.testimonials-content {
    text-align: center;
}

.testimonials-date {
    margin: 0;
    color: rgb(85, 85, 85);
}

/* phones */
@media screen and (max-width: 1100px){
    .certificationsDiv-container {
        padding-top: var(--section-top-bottom-margin);
    }
}

@media screen and (max-width: 330px){
    .certificationsDiv-container {
        padding-top: 110px;
    }
}

section {
    text-align: center;
}

h2 {
    margin: 25px 15vw;
    font-size: 2.5rem;
}

/* phones */
@media screen and (max-width: 1100px){
    .group {
        border-radius: 0px;
        transform: scale(102%);
        box-shadow: 0 0 40px rgba(0, 0, 0, .3);
    }

    .iframe-cover{
        border-radius: 0px;
        width: 100%;
        background-color: rgba(25, 25, 25, .4);
    }
    
    .iframe-icon {
        opacity: 100%;
        top: 45%;
    }
    
    .iframe-my-work{
        border-radius: 0px;
    }

    .group :first-child {
        animation: firstItemPhone 1s ease 100ms;
    }
}

/* animations */
@keyframes firstItemPhone {
    0% {
        top: 50%;
    }
    100% {
        top: 45%;
    }
}

/* about-me-styles */
.about-me-container {
    margin: var(--section-top-bottom-margin) auto;
}

.img-text-container {
    width: var(--common-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 80px auto;
}

/* phones */
@media screen and (max-width: 800px){
    .img-text-container {
        flex-flow: row wrap;
    }
    .bio {
        width: var(--common-width) !important;
        text-align: center;
    }
    .pic-about-me {
        width: 37vw !important;
    }
}

.pic-about-me {
    min-width: 70px;
    width: 30vw;
    height: 100%;
    max-width: 400px;
    border-radius: var(--common-border-radius);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.bio {
    width: 40vw;
    max-width: 600px;
    display: inline-block;
}

.a {
    color: var(--blue-accent-darker);
}

/* contact-styles */
.contact-me {
    margin: var(--section-top-bottom-margin) auto;
}

form {
    margin-bottom: 200px;
}

.email-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    line-height: 40px;
    font-size: 1.6rem;
    padding: var(--contact-padding);
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: var(--contact-border-radius);
}

textarea {
    height: 45vh;
    width: var(--common-width);
    border-radius: var(--common-border-radius);
    max-width: 1000px;
    margin-bottom: 30px;
}

input, textarea {
    padding: var(--contact-padding);
    font-size: 1.3rem;
    margin-top: 5px;
}

#email-input {
    max-width: 500px;
    width: 40vw;
    min-width: 150px;
}

#send-icon {
    width: 1rem;
    height: 1.1rem;
    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 5px;
}

/* footer */
footer {
    width: 100%;
    height: 300px;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    margin-top: 100px;
}

.footer-container {
    margin: auto;
}

.footer-header {
    font-size: 1.62rem;
    text-decoration: underline;
    padding-bottom: 10px;
}

.footer-icon-text-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    width: 22px;
    height: 22px;
    margin: auto 0;
}

.footer-p {
    font-size: 1.3rem;
    margin: auto 10px;
}