/* fonts */
@font-face {
    font-display: swap;
    font-family: "Montserrat-ExtraBold";
    src: url("/fonts/montserrat/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat-Bold";
    src: url("/fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}

:root {
    --blue-accent: rgb(0, 162, 197);
    --blue-accent-darker: rgb(0, 128, 156);
    --common-width: 65vw;
    --group-iframe-height: 65vh;
    --common-border-radius: 10px;
    --contact-padding: 12px;
    --contact-border-radius: 5px;
    --section-top-bottom-margin: 180px;
    --red-accent: #eb1111;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Bold', Roboto, Arial;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10%;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    font-weight: 700;
}

#logo {
    width: 80%;
    height: 80%;
    max-width: 280px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin: auto 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-links {
    display: block;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 25px;
    cursor: pointer;
}

.hamburger {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#contact {
    width: 130px;
    height: 40px;
    margin: 0 75px;
    background-color: #5FE3D8;
    border: none;
    border-radius: var(--common-border-radius);
    font-family: 'Montserrat-Bold', Roboto, Arial;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 50ms ease-out;
}

#contactDropdown {
    display: none;
}

/* boilerplate code */
.highlight-blue {
    color: var(--blue-accent);
}
.highlight-red {
    color: var(--red-accent);
}
.flex-break {
    flex-basis: 100%;
}

.bold {
    font-family: 'Montserrat-ExtraBold', Roboto, Arial;
}

/* phones */
@media screen and (max-width: 1450px){
    html {
        font-size: 18px;
    }

    .nav-links {
        display: none;
    }

    .navLinksDropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    
    .navItemDropdown {      
        border: none;
        line-height: 60px;
        width: 85%;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .hamburger {
        display: inherit;
    }

    .hamburger-center {
        margin: 0 auto;
    }

    #contact {
        display: none;
    }

    #contactDropdown {
        display: inherit;
        background-color: rgba(95, 227, 216, .85);
    }

    #logo {
        max-width: 380px;
    }
}

/* phones / smaller logo */
@media screen and (max-width: 700px){
    #logo {
        width: 50vw;
    }
}

/* desktop */
@media screen and (min-width: 1450px){
    html {
        font-size: 16px;
    }
    
    .hamburger {
        display: none;
    }

    .nav-links {
        display: block !important;
    }

    #contact{
        display: block !important;
    }
}

/* home-styles */
#banner-container {
    display: flex;
    gap: 2.5vw;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75vh;
    margin: 5vh 0;
}

#header {
    font-size: 3.5rem;
    margin-left: 5vw;
    max-width: 65vw;
    padding: 10px 40px;
}

#bannerIframe {
    flex-grow: 2;
    width: 170%;
    max-width: 1100px;
    height: 100%;
    margin-right: 5vw;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.second-header {
    text-align: center;
    font-size: 2.5rem;
    width: var(--common-width);
    margin: 0 auto;
}

/* packages */
.package-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    width: 85vw;
    max-width: 1400px;
    margin: var(--section-top-bottom-margin) auto;
    margin-top: 300px;
    border: 1px solid black;
}

.package {
    min-width: 200px;
    width: 20vw;
    min-height: 266px;
    height: 30vw;
    border-radius: var(--common-border-radius);
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .9);
}

.package-header {
    width: 100%;
    height: 18%;
    background-color: var(--blue-accent);
    border-top-left-radius: var(--common-border-radius);
    border-top-right-radius: var(--common-border-radius);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.package-header p {
    width: 100%;
    /* height: 100%; */
    font-size: 28px;
    border: 1px solid black;
    margin: auto;
    padding: 0;
}

/* certifications */
.certificationsDiv-container {
    width: var(--common-width);
    margin: var(--section-top-bottom-margin) auto;
}

.certificationsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 0 auto;
    gap: 7%;
    justify-content: space-around;
}

.h3-certification {
    text-align: center;
    font-size: 1.5rem;
}

.img-certification {
    width: 24.48vw;
    max-width: 276.61px;
    height: 18.6048vw;
    max-height: 210.22px;
    box-shadow: 0 0 13px rgba(0, 0, 0, .5);
}

.testimonials {
    margin: var(--section-top-bottom-margin) auto;
}

.testimonials-container {
    display: flex;
    width: var(--common-width);
    margin: 60px auto;
    gap: 40px;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.testimonials-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 425px;
    padding: 10px 20px;
}

.stars-header {
    display: inline;
    font-size: 1rem;
    margin: 0 12px;
}

.star {
    width: 16px;
    height: 16px;
}

.testimonials-content {
    text-align: center;
}

.testimonials-date {
    margin: 0;
    color: rgb(85, 85, 85);
}

/* phones */
@media screen and (max-width: 1100px){
    #banner-container {
        flex-wrap: wrap;
        text-align: center;
    }

    .header {
        font-size: 2rem;
    }

    .certificationsDiv-container {
        padding-top: var(--section-top-bottom-margin);
    }
    
    #bannerIframe {
        height: 60vh;
        margin: 0 17.5vw;
    }
}

@media screen and (max-width: 330px){
    .certificationsDiv-container {
        padding-top: 110px;
    }
}

/* phones */
@media screen and (max-width: 600px){
    html {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 600px){
    html {
        font-size: 13px !important;
    }
}

@media screen and (min-width: 700px){
    html {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 950px){
    html {
        font-size: 14px !important;
    }
}
@media screen and (min-width: 1050px){
    html {
        font-size: 15px !important;
    }
}

/* desktop */
@media screen and (min-width: 1450px){
    html {
        font-size: 16px !important;
    }
}

/* my-work-style */
.my-work {
    margin: var(--section-top-bottom-margin) auto;
}

section {
    margin: 100px 0;
    text-align: center;
}

h2 {
    margin: 25px 15vw;
    font-size: 2.5rem;
}

.description {
    margin: 20px 15vw;
}

.border {
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.7);
}

.group {
    height: var(--group-iframe-height);
    width: var(--common-width);
    max-width: 1400px;
    border-radius: 45px;
    transition: transform 1.3s ease, border-radius 1.3s ease, box-shadow 1.3s ease;
    margin: 50px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.iframe-icon {
    z-index: 100;
    top: 50%;
    right: 45%;
    height: 50px;
    width: 50px;
    filter: brightness(300%);
    position: absolute;
    opacity: 0;
    transition: opacity 1.3s ease, top 1s ease;
    margin: auto;
    color: white;
}

.iframe-cover {
    height: var(--group-iframe-height);
    width: var(--common-width);
    max-width: 1400px;
    margin: 0 auto;
    border: 2px solid rgba(25, 25, 25, 0);
    border-radius: 45px;
    position: absolute;
    transition: border-radius 1.3s ease, background-color 1.3s ease;
}

.iframe-my-work {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border: 2px solid rgb(25, 25, 25, 1);
    background-color: rgba(25, 25, 25, 1);
    border-radius: 45px;
    transition: border-radius 1.3s ease, filter 1.3s ease;
}

/* phones */
@media screen and (max-width: 1100px){
    .group {
        border-radius: 0px;
        transform: scale(102%);
        box-shadow: 0 0 40px rgba(0, 0, 0, .3);
    }

    .iframe-cover{
        border-radius: 0px;
        width: 100%;
        background-color: rgba(25, 25, 25, .4);
    }
    
    .iframe-icon {
        opacity: 100%;
        top: 45%;
    }
    
    .iframe-my-work{
        border-radius: 0px;
    }

    .group :first-child {
        animation: firstItemPhone 1s ease 100ms;
    }
}

/* animations */
@keyframes firstItemPhone {
    0% {
        top: 50%;
    }
    100% {
        top: 45%;
    }
}

/* about-me-styles */

.about-me-container {
    margin: var(--section-top-bottom-margin) auto;
}

.img-text-container {
    width: var(--common-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 80px auto;
}

/* phones */
@media screen and (max-width: 800px){
    .img-text-container {
        flex-flow: row wrap;
    }
    .bio {
        width: var(--common-width) !important;
        text-align: center;
    }
    .pic-about-me {
        width: 37vw !important;
    }
}

.pic-about-me {
    min-width: 70px;
    width: 30vw;
    height: 100%;
    max-width: 400px;
    border-radius: var(--common-border-radius);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.bio {
    width: 40vw;
    max-width: 600px;
    display: inline-block;
}

.a {
    color: var(--blue-accent-darker);
}

/* contact-styles */
.contact-me {
    margin: var(--section-top-bottom-margin) auto;
}

form {
    margin-bottom: 200px;
}

.email-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    line-height: 40px;
    font-size: 1.6rem;
    padding: var(--contact-padding);
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: var(--contact-border-radius);
}

textarea {
    height: 45vh;
    width: var(--common-width);
    border-radius: var(--common-border-radius);
    max-width: 1000px;
    margin-bottom: 30px;
}

input, textarea {
    padding: var(--contact-padding);
    font-size: 1.3rem;
    margin-top: 5px;
}

#email-input {
    max-width: 500px;
    width: 40vw;
    min-width: 150px;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat-Medium";
    src: url("/fonts/montserrat/Montserrat-Medium.otf") format("opentype");
}

#send {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--contact-border-radius);
    color: black;
    background-color: var(--blue-accent);
    padding: 11px;
    font-size: 1.3rem;
    font-family: 'Montserrat-Medium', Roboto, Arial;
    font-weight: 100;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    margin-top: 5px;
}

#send-icon {
    width: 1rem;
    height: 1.1rem;
    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 5px;
}

/* footer */
footer {
    width: 100%;
    height: 300px;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    margin-top: 100px;
}

.footer-container {
    margin: auto;
}

.footer-header {
    font-size: 1.62rem;
    text-decoration: underline;
    padding-bottom: 10px;
}

.footer-icon-text-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    width: 22px;
    height: 22px;
    margin: auto 0;
}

.footer-p {
    font-size: 1.3rem;
    margin: auto 10px;
}

/* reveal animation */
.reveal {
    position: relative;
    transform: translateY(90px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}