/* Montserrat font - weights: 300 500 600 700 800 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Roboto, Arial;
}

/* header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7%;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    font-weight: 700;
} */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10%;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    font-weight: 700;
}

#logo {
    max-width: 280px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin: auto 0;
}

#logo:hover {
    transform: scale(101%);
    filter: brightness(105%);
    transition: 100ms ease-out;
}

#logo:active {
    transition: 0ms;
    transform: scale(98%);
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-links {
    display: block;
    list-style: none;
}

.nav-links  li:hover {
    /* padding: 0 26px; */
    transform: scale(101.5%);
    opacity: .9;
    transition: 100ms ease-out;
}

.nav-links  li:active {
    transition: 0ms;
    transform: scale(98%);
}

.nav-links li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 25px;
    cursor: pointer;
}

.hamburger {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

.border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#contact {
    width: 130px;
    height: 40px;
    margin: 0 75px;
    background-color: #5FE3D8;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, Roboto, Arial;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 50ms ease-out;
}

#contactDropdown {
    display: none;
}

#contact:hover{
    opacity: .9;
}

#contact:active {
    transition: 0ms;
    transform: scale(95%);
}

#banner-container {
    display: flex;
    width: 100%;
    height: 55vh;
}

#banner-text {
    font-size: 2rem;
    padding: 0 40px;
    margin: auto;
}

#banner {
    object-fit: cover;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 300px;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.footer-container {
    margin: 0 auto;
}

.footer-header {
    font-size: 1.62rem;
    text-decoration: underline;
    padding-top: 30px;
}

.footer-p {
     font-size: 1.3rem;
     display: inline;
     margin-left: 10px;
}

.highlight-blue {
    color: #61BACD;
}

/* phones */
@media screen and (max-width: 1450px){
    html {
        font-size: 20px;
    }

    .nav-links {
        display: none;
    }

    .navLinksDropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .navItemDropdown {      
        border: none;
        line-height: 60px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .hamburger {
        display: inherit;
    }

    #contact {
        display: none;
    }

    #contactDropdown {
        display: inherit;
        background-color: rgba(95, 227, 216, .85);

    }

    #logo {
        max-width: 380px;
    }
}

/* desktop */
@media screen and (min-width: 1450px){
    html {
        font-size: 16px;
    }
    
    .hamburger {
        display: none;
    }

    .nav-links {
        display: block !important;
    }

    #contact{
        display: block !important;
    }
}
