body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Roboto, Arial;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10%;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    font-weight: 700;
}

#logo {
    max-width: 280px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin: auto 0;
}

#logo:hover {
    transform: scale(101%);
    filter: brightness(105%);
    transition: 100ms ease-out;
}

#logo:active {
    transition: 0ms;
    transform: scale(98%);
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-links {
    display: block;
    list-style: none;
}

.nav-links  li:hover {
    transform: scale(101.5%);
    opacity: .9;
    transition: 100ms ease-out;
}

.nav-links  li:active {
    transition: 0ms;
    transform: scale(98%);
}

.nav-links li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 25px;
    cursor: pointer;
}

.hamburger {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

.border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#contact {
    width: 130px;
    height: 40px;
    margin: 0 75px;
    background-color: #5FE3D8;
    border: none;
    border-radius: 10px;
    font-family: Montserrat, Roboto, Arial;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 50ms ease-out;
}

#contactDropdown {
    display: none;
}

#contact:hover{
    opacity: .9;
}

#contact:active {
    transition: 0ms;
    transform: scale(95%);
}
/* end of nav */

.underConstruction {
    text-align: center;
}

#banner-container {
    display: flex;
    gap: 2.5vw;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75vh;
    margin: 5vh 0; 
}

.header {
    font-size: 3.5rem;
    margin-left: 5vw;
    max-width: 800px;
}

.second-header {
    text-align: center;
    font-size: 2.5rem;
}

iframe {
    flex-grow: 2;
    width: 200%;
    max-width: 1100px;
    height: 100%;
    margin-right: 5vw;
}

.certificationsDiv {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 5%;
    justify-content: space-around;
}

.h4-certification {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.break-certification {
    width: 40%;
    height: 1px;
    margin: 14px auto;
    background-color: rgb(0, 0, 0, .5);
}

.img-certification {
    width: 100%;
    box-shadow: 0 0 13px rgba(0, 0, 0, .5);
}

/* footer */
footer {
    width: 100%;
    height: 300px;
    background-color: rgba(25, 25, 25, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}

.footer-container {
    margin: 0 auto;
}

.footer-header {
    font-size: 1.62rem;
    text-decoration: underline;
    padding-top: 30px;
}

.footer-p {
     font-size: 1.3rem;
     display: inline;
     margin-left: 10px;
}

.highlight-blue {
    color: #61BACD;
}

/* phones */
@media screen and (max-width: 1450px){
    html {
        font-size: 18px;
    }

    .nav-links {
        display: none;
    }

    .navLinksDropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    
    .navItemDropdown {      
        border: none;
        line-height: 60px;
        width: 85%;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .hamburger {
        display: inherit;
    }

    .hamburger-center {
        margin: 0 auto;
    }

    #contact {
        display: none;
    }

    #contactDropdown {
        display: inherit;
        background-color: rgba(95, 227, 216, .85);

    }

    #logo {
        max-width: 380px;
    }
}

/* desktop */
@media screen and (min-width: 1450px){
    html {
        font-size: 16px;
    }
    
    .hamburger {
        display: none;
    }

    .nav-links {
        display: block !important;
    }

    #contact{
        display: block !important;
    }
}

/* fonts */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Bold.otf") format("opentype"),
    url("/fonts/montserrat/Montserrat-Regular.otf") format("opentype"),
    url("/fonts/montserrat/Montserrat-Light.otf") format("opentype"),
    url("/fonts/montserrat/Montserrat-Medium.otf") format("opentype"),
    url("/fonts/montserrat/Montserrat-ExtraBold.otf") format("opentype");
}