.email-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#send {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: black;
    background-color: var(--blue-accent);
    padding: 10px;
    font-size: 1rem;
    font-family: 'Montserrat-Medium', Roboto, Arial;
    font-weight: 100;
}

#send-icon {
    height: 1rem;
    margin: auto;
}