:root {
    --contact-padding: 12px;
    --contact-border-radius: 5px;
}

form {
    margin-bottom: 200px;
}

.email-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    line-height: 40px;
    font-size: 1.6rem;
    padding: var(--contact-padding);
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: var(--contact-border-radius);
}

textarea {
    height: 45vh;
    width: 60vw;
    max-width: 1000px;
    margin-bottom: 30px;
}

input, textarea {
    padding: var(--contact-padding);
    font-size: 1.3rem;
    margin-top: 5px;
}

#email-input {
    max-width: 500px;
    width: 40vw;
    min-width: 150px;
}

#send {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--contact-border-radius);
    color: black;
    background-color: var(--blue-accent);
    padding: 11px;
    font-size: 1.3rem;
    font-family: 'Montserrat-Medium', Roboto, Arial;
    font-weight: 100;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    margin-top: 5px;
}

#send-icon {
    width: 1rem;
    height: 1.1rem;
    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 5px;
}

/* phones */
@media screen and (min-width: 0px){
    html {
        font-size: 10px !important;
    }
}
@media screen and (min-width: 300px){
    html {
        font-size: 11px !important;
    }
}

@media screen and (min-width: 500px){
    html {
        font-size: 11px !important;
    }
}

@media screen and (min-width: 700px){
    html {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 850px){
    html {
        font-size: 13px !important;
    }
}

/* desktop */
@media screen and (min-width: 1450px){
    html {
        font-size: 14px !important;
    }
}