body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* * {
    border: 1px solid black;
} */

section {
    margin: 100px 0;
}

h2 {
    margin: 25px 15vw;
    font-size: 2.5rem;
    border: 1px solid black;
    /* max-width: 75vw; */
    /* max-width: 800px; */
}

p {
    margin: 20px 15vw;
    /* max-width: 800px; */
}

.border {
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.7);
}

.group {
    height: 60vh;
    width: 80vw;
    max-width: 1400px;
    border-radius: 45px;
    transition: transform 1.3s ease, border-radius 1.3s ease, box-shadow 1.3s ease;
    margin: 50px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.group:hover {
    border-radius: 0px;
    transform: scale(102%);
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

.group:active {
    transition: transform .25s ease;
    transform: scale(100%);
}

.group:hover .iframe-cover{
    border-radius: 0px;
    width: 100%;
    background-color: rgba(25, 25, 25, .4);
}

.group:hover .iframe-icon {
    opacity: 100%;
    top: 45%;
}

.group:hover iframe{
    border-radius: 0px;
}

.iframe-icon {
    z-index: 100;
    top: 50%;
    right: 45%;
    height: 10%;
    filter: brightness(300%);
    position: absolute;
    opacity: 0;
    transition: opacity 1.3s ease, top 1s ease;
    margin: auto;
    color: white;
}

.iframe-cover {
    height: 60vh;
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    border: 2px solid rgba(25, 25, 25, 0);
    border-radius: 45px;
    position: absolute;
    transition: border-radius 1.3s ease, background-color 1.3s ease;
}

iframe {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border: 2px solid rgb(25, 25, 25, 1);
    background-color: rgba(25, 25, 25, 1);
    border-radius: 45px;
    transition: border-radius 1.3s ease, filter 1.3s ease;
}

.reveal {
    position: relative;
    transform: translateY(90px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* phones */
@media screen and (max-width: 1100px){
    .group {
        border-radius: 0px;
        transform: scale(102%);
        box-shadow: 0 0 40px rgba(0, 0, 0, .3);
    }

    .iframe-cover{
        border-radius: 0px;
        width: 100%;
        background-color: rgba(25, 25, 25, .4);
    }
    
    .iframe-icon {
        opacity: 100%;
        top: 45%;
    }
    
    iframe{
        border-radius: 0px;
    }

    .group :first-child {
        animation: firstItemPhone 1s ease 100ms;
    }
}

/* desktop */
@media screen and (min-width: 1100px){

}

/* animations */

@keyframes firstItemPhone {
    0% {
        top: 50%;
    }
    100% {
        top: 45%;
    }
}