body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin: 25px;
    font-size: 2.5rem;
}

.border {
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.7);
}

.group {
    height: 60vh;
    width: 80%;
    max-width: 1400px;
    border-radius: 45px;
    transition: transform 1.3s ease, border-radius 1.3s ease;
    margin: 50px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
}

.group:hover {
    border-radius: 0px;
    transform: scale(102%);
}

.group:active {
    transition: transform .25s ease;
    transform: scale(100%);
}

.group:hover .iframe-cover{
    border-radius: 0px;
    width: 100%;
}

.group:hover iframe{
    border-radius: 0px;
}


.iframe-cover {
    height: 60vh;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    border: 2px solid rgb(25, 25, 25, 0);
    background-color: rgb(0, 0, 0, 0);
    border-radius: 45px;
    position: absolute;
    transition: border-radius 1.3s ease;
}

iframe {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(25, 25, 25, 1);
    background-color: rgba(25, 25, 25, 1);
    border-radius: 45px;
    transition: border-radius 1.3s ease;
}

@keyframes click {
    0% {
        transform: scale(102%);
    }
    100% {
        transform: scale(150%);
    }
}