.img-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 80px 5vw;
}

.pic-about-me {
    min-width: 200px;
    width: 30vw;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.bio {
    width: 60vw;
    max-width: 600px;
    display: inline-block;
}

.a {
    color: var(--blue-accent-darker);
}

/* desktop */
@media screen and (min-width: 1450px){
    html {
        font-size: 18px !important;
    }
}